APP_NAME=InfoGlobe API
APP_VERSION=0.1.0
APP_DESCRIPTION=API inicial para consultar informacoes globais.
API_PREFIX=
API_KEY_REST_COUNTRIES=
API_KEY_OPENROUTER=
OPENROUTER_MODEL=nex-agi/nex-n2-pro:free
MONGO_DB_URL_CONN=
MONGO_DB_NAME=infoglobe
MONGO_COUNTRY_COLLECTION=country_info_cache
RATE_LIMIT_REQUESTS_PER_MINUTE=10
RATE_LIMIT_WINDOW_SECONDS=60
